<div class="team-player">
  <div class="team-avatar">
    <%= image_tag 'avatar/Adrien.jpg', class:"avatar", alt:"avatar" %>
    <p><%= @team_members.sample %></p>
  </div>
  <ul class="team-icons">
    <li><%= image_tag 'icons/001-flash.png' %> <p>20</p></li>
    <li><%= image_tag 'icons/love-1617689.png' %> <p>20</p> </li>
    <li><%= image_tag 'icons/notification-1617680.png' %> <p>20</p></li>
    <li><%= image_tag 'icons/001-speech-bubble.png' %> <p>20</p></li>
  </ul>
  <%# <%= image_tag 'social_network/010-linkedin.png', class:'social_lkd' %>
</div>

<%# photo url
name
linkedin given as variable  %>
