<div class="team-player">
  <div class="team-avatar">
    <%= image_tag 'avatar/Adrien.jpg', class:"avatar", alt:"avatar" %>
    <p><%= @team_members.sample %></p>
  </div>
  <ul class="team-icons">
    <li><h6 class="icon">тЭдя╕П</h6>  <p style="font-weight:bolder"><%= rand(0..30) %></p> </li>
    <li><h6 class="icon">тЪбя╕П</h6> <p style="font-weight:bolder"><%= rand(0..30) %></p> </li>
    <li><h6 class="icon">ЁЯФе</h6> <p style="font-weight:bolder"><%= rand(0..30) %></p> </li>
  </ul>
  <%# <%= image_tag 'social_network/010-linkedin.png', class:'social_lkd' %>
</div>

<%# photo url
name
linkedin given as variable  %>
