<% @investments.each do |investment| %>
  <% if investment.status == 1 %>
    <ul>
      <li><strong>Entreprise : </strong> <%=investment.project.investee.company_name %> </li>
      <li><strong>Projet : </strong> <%=investment.project.name %> </li>
      <li><strong>Montant : </strong> <%=investment.amount.round %> €</li>
      <li>
        <strong>Statut : </strong>
        <% if (investment.status == 0) %>
          <%= "Intérêt déclaré" %>
        <% elsif (investment.status == 1) %>
          <%= "Contrat signé" %>
        <% elsif (investment.status == 2) %>
          <%= "Validé" %>
        <% end %>
      </li>
    </ul>
    <% end %>
<% end %>
