<div class="wrapper-container dashboard">
  <div class="elements">
    <h1>Dash<span>board</span></h1>
  </div>
  <div class="row">
    <div class="col-4">
      <h1>Intérêts ❤️</h1>
      <% @interested_investments.each do | investment | %>
        <div class="names">
          <div class="line-project">
            <div class="index">
              <ul class="project">
                <li><strong>Projet : </strong> <%=investment.project.name %> </li>
              </ul>
              <%= link_to "🤓", data_room_project_path(investment.project), class:"button" %>
              <div class="team-icons"><%= image_tag 'icons/love-1617689.png' %> <p>20</p> </li></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <h1>En process ⚡️</h1>
      <% @pending_investments.each do | investement | %>
        <div class="names">
          <div class="line-project">
            <div class="index">
              <ul class="project">
                <li><strong>Projet : </strong> <%=investment.project.name %> </li>
              </ul>
              <%= link_to "🤓", data_room_project_path(investment.project), class:"button" %>
              <div class="team-icons"><%= image_tag 'icons/001-flash.png' %> <p>20</p> </li></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-4">
      <h1>Terminé 🔥</h1>
      <% @validated_investments.each do | investment | %>
      <div class="names">
          <div class="line-project">
            <div class="index">
              <ul class="project">
                <li><strong>Projet : </strong> <%=investment.project.name %> </li>
              </ul>
              <%= link_to "🤓", data_room_project_path(investment.project), class:"button" %>
              <div class="team-icons"><%= image_tag '002-fire.png' %> <p>20</p> </li></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<br>
<br>
<br>
