<div class="wrapper-dataroom">
  <div class="second-wrapper">
    <div class="elements">
      <h1>Data<span>room</span></h1>
    </div>
    <div class="cta">
      <button class="chrono">ðŸš¨ 24j 12h 23min</button>
      <li><%= link_to "Signer âœï¸", "#{@url_docusign}", target:"_blank"%></li>
    </div>
  </div>
  <div class="header-table">
      <div class="circle">
        <%= image_tag 'Apple.png' %>
      </div>
      <h3>Title</h3>
      <h3>Actions</h3>
  </div>
  <div class="body-table">
    <div class="row">
      <div class="column-dataroom">
        <% @team_members.each do | team_member| %>
          <%= render 'components/project_show/team_member' %>
        <% end %>
      </div>
      <div class="names">
        <div class="all-documents">
          <% @project.documents.each do |document| %>
            <div class="line">
              <div class="index">
                <h3 class="document-name"> ðŸ“‚ <%= link_to document.filename, cl_image_path(document.key, format: :pdf), target:"_blank" %></h3>
              </div>
              <div class="actions">
                <ul class="team-icons">
                  <li><%= image_tag 'icons/view-1617652.png' %> </li>
                  <li><%= image_tag 'icons/download-1617699.png' %> </li>
                  <li><%= image_tag 'icons/001-pen.png' %> </li>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
  <% if (current_user == @project.investee.user )%>
    <%= simple_form_for(@project) do |f| %>
      <%= f.input :documents, as: :file, input_html: { multiple: true } %>
      <%= f.button :submit, "Submit" %>
    <% end %>
  <% end %>


<%# <%= link_to("docusign", "https://account-d.docusign.com/oauth/auth?response_type=code&scope=extended signature&client_id=fc842549-d8a1-4b60-bec7-713bda28349b&redirect_uri=http://localhost:3000/docusign")%>
