<div class="first-wrapper-index mx-2">
  <div class="second-wrapper-index mx-2">
    <%= simple_form_for :search, url: projects_path, method: :get do |f| %>
          <%= f.input :category, label: false, as: :select, collection: Project.pluck(:industry).uniq, input_html: { multiple: true, class: "select2 searchTerm", style: "" }, include_hidden: false %>
          <button type="submit"  class="searchButton" ><%= f.submit :search %>
          <i class="fa fa-search"></i>
          </button>
      <% end %>
    <div class="metriques">
      <%# <div class="metriques-box align-items-center justify-content-center">
        <div class="metriques-investor align-items-center">
        <%# intégrer une colonne wallet %>
          <%# <h3> <strong>500,000 €</strong></h3>
          <p class="my-0">Dans votre portefeuille</p>
        </div>
        <div class="metriques-list">
          <ul class="my-0"> %>
          <%# intégrer des colonnes investment,rendement, project_number, interests_sent %>
            <%# <li class="metriques-indiv"><strong>200,000 €</strong> déjà investis</li>
            <li class="metriques-indiv"><strong>30,000 €</strong> de rendement</li>
            <li class="metriques-indiv"><strong>12</strong> projets déjà financés</li>
            <li class="metriques-indiv"><strong>10</strong> marques d’intérets acceptées</li>
          </ul>
        </div>
      </div>%>
    </div>
    <%# <div class="wrap"> %>
    <%# </div> %>
    <br><br>
    <div class="cards mx-1">
      <% @projects.each do |project| %>
        <div class="cards-category d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image_tag 'Apple.png' ">
          <div class="cards-logo"><%= cl_image_tag project.user.photo.key, style: 'width: 50px' %></div>
            <h3 class="title py-2 m-0"><%= project.investee.nom_entreprise %></h3>
            <ul class="cards-icons">
              <li><%= image_tag 'icons/001-flash.png' %> <p>200</p></li>
              <li><%= image_tag 'icons/love-1617689.png' %> <p>200</p> </li>
              <li><%= image_tag 'icons/notification-1617680.png' %> <p>200</p></li>
              <li><%= image_tag 'icons/001-speech-bubble.png' %> <p>200</p></li>
            </ul>
          <div id="statistics" class="statistics">
            <p>From bottom to over the top 🚀</p>
            <%= link_to 'Projet', project_path(project), class: 'btn-flat-green' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
