<div class="first-wrapper-index mx-2">
  <div class="second-wrapper-index mx-2">
    <h1 class='index-title'>Les <span>Projets</span></h1>
    <%= simple_form_for :search, url: projects_path, method: :get do |f| %>
          <%= f.input :category, label: false, as: :select, collection: Project.pluck(:industry).uniq, input_html: { multiple: true, class: "select2 searchTerm", style: "" }, include_hidden: false %>
          <button type="submit"  class="searchButton" ><%= f.submit :search %>
          <i class="fa fa-search"></i>
          </button>
      <% end %>
      <br>
    <div class="metriques-index">
      <h6 class="icon"> ❤️</h6>
      <p>Intéressé - Etape 1</p>
      <p>●</p>
      <h6 class="icon">⚡️</h6>
      <p>En cours - Etape 2</p>
      <p>●</p>
      <h6 class="icon">🔥</h6>
      <p>Investissement Validé - Etape 3</p>
      <%# <div class="metriques-box align-items-center justify-content-center">
        <div class="metriques-investor align-items-center">
        <%# intégrer une colonne wallet %>
          <%# <h3> <strong>500,000 €</strong></h3>
          <p class="my-0">Dans votre portefeuille</p>
        </div>
        <div class="metriques-list">
          <ul class="my-0"> %>
          <%# intégrer des colonnes investment,rendement, project_number, interests_sent %>
            <%# <li class="metriques-indiv"><strong>200,000 €</strong> déjà investis</li>
            <li class="metriques-indiv"><strong>30,000 €</strong> de rendement</li>
            <li class="metriques-indiv"><strong>12</strong> projets déjà financés</li>
            <li class="metriques-indiv"><strong>10</strong> marques d’intérets acceptées</li>
          </ul>
        </div>
      </div>%>
    </div>
    <%# <div class="wrap"> %>
    <%# </div> %>
    <br>
    <div class="cards mx-1">
      <% @projects.each do |project| %>
        <div class="cards-category d-flex flex-column" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), image_tag 'Apple.png' ">
          <%# <div class="cards-logo"><%#= cl_image_tag project.investee.user.photo.key, style: 'width: 50px' %><%#</div> %>
          <div class="cards-logo"><%= cl_image_tag project.user.photo.key, style: 'height: 100px; object-fit: contain; object-position: center; width: 100px' %></div>
            <h3 class="title py-2 m-0"><%= project.investee.nom_entreprise %></h3>
            <ul class="cards-icons">
              <li><h6 class="icon">❤️</h6>  <p style="font-weight:bolder"><%= rand(0..1000) %></p> </li>
              <li><h6 class="icon">⚡️</h6> <p style="font-weight:bolder"><%= rand(0..1000) %></p> </li>
              <li><h6 class="icon">🔥</h6> <p style="font-weight:bolder"><%= rand(0..1000) %></p> </li>
            </ul>
          <div id="statistics" class="statistics">
            <p class="amount"> <%= number_with_delimiter(project.total_amount, delimiter: " ")%> € </p>
            <%= link_to 'Projet', project_path(project), class: 'btn-flat-green' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
