<div class="colonne">
  <h1>Pour quel projet chercher vous de l'argent ? 💸</h1>
  <div class="data">
    <%= simple_form_for @project do |f| %>
      <div class="container">
        <div class="container-data">
          <div class="form-inputs mt-5">
            <%= f.input :name, label: false, placeholder:"Nom", input_html: { class:"form-api" } %>
            <%= f.input :industry, label: false, input_html: { class:"form-api" }, prompt:"Industrie", collection: Project::INDUSTRIES %>
            <%= f.input :financing_thesis, label: false, input_html: { class:"form-api" }, prompt:"Objectif",  collection: Project::OBJECTIFS %>
            <%= f.input :total_amount,label:false, input_html: { class:"form-api" }, placeholder:"Montant total"  %>
            <%= f.input :status, label: false, input_html: { class: "d-none" } %>
            <%= f.button :submit,value:"Créer", class: 'btn btn-flat1' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<br>
