<%= @project.valuation %>

<%= simple_form_for @investment, url: project_investments_path(@project) do |f| %>
<%= f.input :amount, input_html: {class: "w-100"}, wrapper_html: {class: "w-100 pr-3"} %>
<%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

<%# /////////////////////// %>


<br>
<br>
<br>
<br>
<br>
<br>


<div class="wrapper-show">
  <div class="column company">
    <div class="module management" id="company-first">
      <h2> Team </h2>
      <div class="team-cards">
      <% @team_members.each do | team_member| %>
      <%= render 'components/team_member' %>
      <% end %>
      </div>
    </div>
    <div class="module" id="company-second">
    Hello
    </div>
    <div class="module" id="company-third">
    Hello
    </div>
  </div>
  <div class="column project">
    <div class="module" id="project-first">
    Hello
    </div>
    <div class="module" id="project-second">
    Hello
    </div>
    <div class="module" id="project-third">
    Hello
    </div>
  </div>
  <div class="column financing">
    <div class="module" id="project-first">
    Hello
    </div>
    <div class="module" id="project-second">
    Hello
    </div>
    <div class="module" id="project-third">
    Hello
    </div>
  </div>
</div>
