<div class="wrapper-show">
  <div class="column company">
    <div class="module management" id="company-first">
      <h2> TEAM </h2>
      <div class="team-cards">
        <% @team_members.each do | team_member| %>
          <%= render 'components/project_show/team_member' %>
        <% end %>
      </div>
    </div>
    <div class="module" id="company-second">
    <div class="operation wrapper-card">
        <%= render 'components/project_show/operation' %>
      </div>
    </div>
    <div class="module" id="company-third">
      <div class="operation wrapper-card">
        <%= render 'components/project_show/traction' %>
      </div>
    </div>
  </div>
  <div class="column project">
    <div class="module" id="project-first">
      <%= render 'components/project_show/valuation' %>
    </div>
    <div class="module" id="project-second">
      <div class="operation wrapper-card">
        <%= render 'components/project_show/projection' %>
      </div>
    </div>
    <div class="module" id="project-third">
      <%= render 'components/project_show/thesis' %>
    </div>
  </div>
  <div class="column financing">
    <div class="module" id="project-first">
    Hello
    </div>
    <div class="module" id="project-second">
    Hello
    </div>
    <div class="module" id="project-third">
    Hello
    </div>
  </div>
</div>

<%= render 'components/project_show/NDA' %>
