<%= simple_form_for @investee do |f| %>
<div class="container">
    <div>
      <div class="col-12 col-md-6 offset-lg-3">
        <div class="bg-white rounded p-3 mt-5 shadow">
          <div class="form-inputs" data-controller="fill">
          <%= f.input :SIRET, input_html: { data: { action: 'keyup->fill#autocomplete' } } %>
          <%= f.input :nom_entreprise, input_html: { data: { fill_target: "name" } } %>
          <%= f.input :address, input_html: { data: { fill_target: "address" } } %>
          <%= f.input :domaine_activite, input_html: { data: { fill_target: "activity" } } %>
          <%= f.input :chiffre_affaires, input_html: { data: { fill_target: "chiffreAffaires" } }  %>
          <%= f.input :taux_croissance_chiffre_affaires, input_html: { data: { fill_target: "croissanceChiffreAffaires" } }  %>
          <%= f.input :marge_brute, input_html: { data: { fill_target: "margeBrute" } } %>
          <%= f.input :taux_marge_brute, input_html: { data: { fill_target: "tauxMargeBrute" } } %>
          <%= f.input :excedent_brut_exploitation, input_html: { data: { fill_target: "excedentBrutExploitation" } }  %>
          <%= f.input :taux_marge_EBITDA, input_html: { data: { fill_target: "tauxMargeEbitda" } } %>
          <%= f.input :api_data, label: false, input_html: { data: { fill_target: "apiData" }, class: 'd-none' } %>
          <%= f.button :submit, class: 'btn btn-primary' %>
           </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
